UTF-8 subject corrupted when subject edited in Thunderbird then opened in Outlook

Environment:
  Thunderbird 128.11.0esr 64-bit Linux.
  EditEmailSubject MX 7.4

Subject text corrupted after editing with conditions:
 - non-english utf-8 ecoded subject
 - orignal subject length 10 and more code-points (20 and more bytes in my case, every code-point occupy 2 bytes in my case)

Problem appears then i edit subject in thunderbird then look in outlook.
No problem then i edit subject outlook.

**No-problem** 9 chars example:
 - create email with subject:
     `абвгдежзи`
 - save to draft, press Ctrl-U to see sources:
     `Subject: =?UTF-8?B?0LDQsdCy0LPQtNC10LbQt9C4?=`
 - rename by append `1`:
     `абвгдежзи1`
 - press Ctrl-U to see sources:
     `Subject: =?utf-8?q?=D0=B0=D0=B1=D0=B2=D0=B3=D0=B4=D0=B5=D0=B6=D0=B7=D0=B81?=`
     `X-EditEmailSubject-OriginalSubject: =?utf-8?q?=D0=B0=D0=B1=D0=B2=D0=B3=D0=B4=?=
 =?utf-8?q?=D0=B5=D0=B6=D0=B7=D0=B8?=`
 - outlook show right subject:
     `абвгдежзи1`


**Problem** 10 chars example:
 - create email with subject:
     `абвгдежзий`
 - save to draft, press Ctrl-U to see sources:
     `Subject: =?UTF-8?B?0LDQsdCy0LPQtNC10LbQt9C40Lk=?=`
 - rename by append `1`:
     `абвгдежзий1`
 - press Ctrl-U to see sources:
     `Subject: =?utf-8?q?=D0=B0=D0=B1=D0=B2=D0=B3=D0=B4=D0=B5=D0=B6=D0=B7=D0=B8=D0=?=
 =?utf-8?q?=B91?=`
     `X-EditEmailSubject-OriginalSubject: =?utf-8?q?=D0=B0=D0=B1=D0=B2=D0=B3=D0=B4=?=
 =?utf-8?q?=D0=B5=D0=B6=D0=B7=D0=B8=D0=B9?=`
 - outlook show corrupted subject:
     `абвгдежзи?=?1`

Looks like subject quoted-printable encoding divided to two parts, but not by code-points boundaries.
Looks like instead of:
     `Subject: =?utf-8?q?=D0=B0=D0=B1=D0=B2=D0=B3=D0=B4=D0=B5=D0=B6=D0=B7=D0=B8=D0=?=
 =?utf-8?q?=B91?=`
it should be:
     `Subject: =?utf-8?q?=D0=B0=D0=B1=D0=B2=D0=B3=D0=B4=D0=B5=D0=B6=D0=B7=D0=B8=?=
 =?utf-8?q?=D0=B91?=`


> 76 instead of 78
no. i tried - problem remain

Looks like the line src/content/scripts/editemailsubject.mjs#L64

> const nextLine = "=?="

does not comply with RFC 2047.
Every "encoded-word" should be ended with "=?".
First "=" in "=?=" can be seen as last "=" of base64 encoding.
More than, RFC 2047 say in section 5:

> The 'encoded-text' in an 'encoded-word' must be self-contained;
   'encoded-text' MUST NOT be continued from one 'encoded-word' to
   another

And illustrate this in section 8:
> (For example, "=?charset?Q?=?=
   =?charset?Q?AB?=" would be illegal, because the two hex digits "AB"
   must follow the "=" in the same 'encoded-word'.)

So, if i understand right, we should replace 
`const nextLine = "=?="`
for
`const nextLine = "=?"`
or use `endLine` 

I removed line 64
src/content/scripts/editemailsubject.mjs#L64

> ~~const nextLine = "=?="~~

and replace usage `nextLine` with `endLine` in line 
src/content/scripts/editemailsubject.mjs#L74
> ~~lines.push(currentLine + nextLine);~~
> lines.push(currentLine + endLine);

and problem is gone
what you are think?
if this is true, could you please correct code?
thank you.

Cannot see UTF8 (subject in Russian) at all...

You can use any chars for subject, wich must be escaped.
For example create email with subject "=========================="
Then edit subject to "==========================1"

Valid (IMHO) result subject should be

> Subject: =?utf-8?q?=3D=3D=3D=3D=3D=3D=3D=3D=3D?=
>  =?utf-8?q?=3D=3D=3D=3D=3D=3D=3D=3D=3D=3D=3D?=
>  =?utf-8?q?=3D=3D=3D=3D=3D=3D1?=
> 

lines (IMHO) should be ended by ?= not =?=
as in  [RFC 2047 section 2](https://www.rfc-editor.org/rfc/rfc2047.html#section-2)

> encoded-word = "=?" charset "?" encoding "?" encoded-text "?="

> If it is desirable to encode more text than will fit in an 'encoded-word' of 75 characters, multiple 'encoded-word's (separated  by CRLF SPACE) may    be used.